{% extends 'base.html' %}

{% block title %}
Registration
{% endblock %}

{% block body %}

<div class="d-flex flex-column pb-3 border-bottom">
    <div class="mx-auto ">
        <h1 class="fw-normal text-center">Registration</h1>
        {% for cat, msg in get_flashed_messages(True) %}
        <div class="flash {{cat}}">{{msg}}</div>
        {% endfor %}
        <form action="{{url_for('register')}}" method="post" class="text-start">
            <div class="input-group mb-3">
                <label class="input-group-text">Login:</label>
                <input class="form-control" type="text" name="username" value="" required>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Password:</label>
                <input class="form-control" type="password" name="password"
                    value="" required>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text">Password: </label>
                <input class="form-control" type="password" name="password2" value="" required>
            </div>
            <button type="submit" class="btn btn-outline-secondary">Registration</button>
        </form>
    </div>
</div>
{% endblock %}